.form {
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 10px;
    row-gap: 10px;
}
@media only screen and (max-width: 600px) {
    .form {
        grid-template-columns: 1fr;
    }
}
.inputRow {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.input{
    max-width: 100%;
    min-width: 100%;
    min-height: fit-content;
}
.input:focus ~ .icon {
    transform: scaleX(-1);
    opacity: 0;
}

.icon {
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-left: -30px;
    pointer-events: none;
}


.formGroup {
}

.label {
    text-align: start;
    align-self: center;
    font-size: 16px;
}