.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    font-size: 14px;
}

.header {
    text-align: center;
}

.genSpan {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
    color: rgb(58, 69, 81);
}

.submit {
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    width: 40%;
}

.userList {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    width: 30%;
}

.userItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.user{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.viewer{}
.editor{
    color: rgb(16, 85, 0);
}
.admin{
    color: rgb(255, 228, 26);
    text-shadow:#000 1px 0 1px, #000 0 1px 1px, #000 -1px 0 1px, #000 0 -1px 1px;
}
@media only screen and (max-width: 600px) {
    .login {
        width: 100%;
    }

    .userList {
        width: 100%;
    }
}
