@supports not (interpolate-size: allow-keywords) {
    .expandableForm>.hiddenContent {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        opacity: 0;
        max-height: 0;
        transition: all 0.5s ease;
    }

    .expandableForm.expanded>.hiddenContent {
        overflow: visible;
        margin-top: 10px;
        max-height: 100%;
        opacity: 1;
    }
}

@supports (interpolate-size: allow-keywords) {
    .expandableForm {
        overflow: hidden;
        transition: all 0.5s ease;
        height: 80px;
    }

    .expandableForm>.hiddenContent {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .expandableForm.expanded {
        height: fit-content;
    }
}