#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
}

#logo {
    width: 120px;
    height: 65px;
}

.navPanel {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    gap: 30px;
    padding: 10px;
    border-radius: 8px;
}


.navLink {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 4px;
    transition: background-color 0.3s;
}


@media only screen and (max-width: 600px) {
    #header {
        justify-content: center;
    }

    .navPanel {
        padding: 4px;
        gap: 4px;
        overflow: scroll;

    }

    .navLink {
        padding: 2px 6px;
    }
}

.navLink:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.1);
}

.active {
    text-decoration: underline;
    text-underline-offset: 4px;
}