.form {
    max-height: 70px;
    transition: max-height 0.3s ease;
}
.form > :nth-child(n+2){
    display: none;
    transition: display 0.3s ease;
}

.form.expanded {
    max-height: 100%;
}

.form.expanded > :nth-child(n+2){
    display: block;
}
.label {
    font-size: 14px;
    color: #333;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.icon {
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}

.input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    border: 1px solid rgba(204, 204, 204, 1);
    background-color: rgba(0, 0, 0, 0);
    transition: border-color 0.3s;
}