
.icon {
    transition: transform 0.3s ease;
}

.toggler {
    margin-left: auto;
}

.rotated {
    transform: rotate(180deg);
}

.dateRequest{
    display: flex;
    gap: 50px;
    flex-direction: row;
}