.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.container:hover > .checkBox{
    opacity: 1;
}

.checkBox {
    position: absolute;
    top: 16px;
    left: 40px;
    z-index: 1;
    opacity: 0;
}