.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    flex-grow: 1;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .content{
        max-width: none;
    }
}

.input {
    gap: 20px;
}