#header{
    color: white;
    font-family: var(--bold-title-font), sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 600px;
    max-width: 1000px;
    align-self: center;
}

.companies {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addCompany {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.companyInputs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .content {
        min-width: 100px;
        max-width: none;
        flex-wrap: wrap;
    }
}

.input {
    gap: 20px;
}