#content{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    max-width: 2000px;
}
@media only screen and (max-width: 600px) {
    #content {
        flex-wrap: wrap;
        gap: 20px;
    }
}
#rightPanel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}
#leftPanel{

}
.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: end;
}

.buttonRow * {
    color: white;
}