#content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#leftPanel {
    flex-basis: 400px;
    max-width: 1000px;
    flex-grow: 1;
}

#rightPanel {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
    max-width: 1000px;
    flex-grow: 1;
    gap: 20px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
}

.buttonRow * {
    color: white;
}