.documentRequest {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}
.documentRequest > :nth-child(1) {
    flex-basis: 70%;
    flex-shrink: 0;
}
@media only screen and (max-width: 600px) {
    .documentRequest :nth-child(1) {
        flex-basis: 100%;
    }
    .documentRequest {
        flex-wrap: wrap;
    }
}