.title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    word-break: break-word;
}

.info {
    color: black;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.hot-3 {
    color: rgb(255, 45, 45);
    font-weight: 400;
}

.hot-2 {
    color: rgb(255, 38, 38);
    font-weight: 500;
}

.hot-1 {
    color: rgb(255, 0, 0);
    font-weight: 600;
}

.label {
    color: #6E6E6E;
    font-size: 14px;
}

.titleMiddle::before {
    content: ' ... ';
}

.title:hover .titleMiddle::before {
    content: '';
}

.title:hover .titleMiddle:after {
    content: attr(full-text);
}

.hoverCard:hover {
    transform: scale(1.15);
    transition: all 0.5s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}