.label {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

.input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    border: 1px solid rgba(204, 204, 204, 1);
    background-color: rgba(0, 0, 0, 0);
    transition: border-color 0.3s;
}

.comment {
    margin-top: 10px;
}