.form {
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 10px;
    row-gap: 10px;
    max-width: 800px;
}

.inputRow {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.input:focus ~ .icon {
    transform: scaleX(-1);
    opacity: 0;
}

.icon {
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-left: -20px;
    pointer-events: none;
}


.formGroup {
}

.label {
    text-align: start;
    align-self: center;
    font-size: 16px;
}


/* .input:focus {
  border-color: #3f51b5;
  outline: none;
} */