.content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-grow: 1;
    padding: 20px 20px 24px;
    overflow-x: auto;
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 8px;
    }
}