.content{
    padding: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.navPanel {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0,0);
    justify-content: end;
    gap: 30px;
    padding: 10px;
    border-radius: 8px;
}

.navLink {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navLink:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.1);
}