.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 180px;
    gap: 20px;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 280px;
    gap: 20px;
}


@media only screen and (max-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
    }
}

.createTender {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: rgb(116, 156, 204);
    border: none;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.createTender:hover {
    transform: scale(1.05);
    background-color: rgb(96, 136, 184);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.createTender:active {
    transform: scale(0.95);
}

.columnHeader {
    padding: 10px;
    text-align: center;
    align-content: center;
    height: 60px;
    font-family: var(--bold-title-font), sans-serif;
}

#first {
    background-color: rgba(231, 231, 231);
}

#second {
    background-color: rgb(229, 217, 188);
}

#third {
    background-color: rgb(219, 227, 181);
}

#forth {
    background-color: rgb(215, 227, 240);
}

#fifth {
    background-color: rgb(233, 207, 240);
}

#sixth {
    background-color: rgb(244, 205, 208);
}