.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.columnHeader {
  padding: 10px;
  height: 40px;
  text-align: center;
  align-content: center;
}

.first {
  background-color: rgba(231, 231, 231);
  color: rgb(84, 85, 85);
}

.second {
  background-color: rgb(182, 207, 245);
  color: rgb(23, 61, 122)
}

.third {
  background-color: rgb(152, 215, 228);
  color: rgb(14, 59, 68);
}

.forth {
  background-color: rgb(227, 215, 255);
  color: rgb(61, 24, 142);
}

.fifth {
  background-color: rgb(209, 239, 194);
  color: rgb(105, 202, 55);
}

.sixth {
  background-color: rgb(251, 251, 96);
  color: rgb(243, 156, 11);
}