.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.rightPanel {
    margin-left: auto;
}

.stageForm {
    gap: 20px;
}

.dynamicSizeForm > .hiddenContent {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    opacity: 0;
    max-height: 0;
    transition: all 0.5s ease;
}

.dynamicSizeForm.expanded > .hiddenContent {
    overflow: visible;
    margin-top: 10px;
    max-height: 100%;
    opacity: 1;
}