#inputsContainer {
    /*display: grid;*/
    /*grid-template-columns: repeat(2, auto);*/
    /*justify-content: start;*/
    /*align-items: center;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 500px;
    gap: 10px;
}
#inputsContainer > * {
    width: fit-content;
}
#chartPage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}
#chartTitle{
    font-family: var(--bold-title-font);
}
@media only screen and (max-width: 600px) {
    #inputsContainer {
        max-width: none;
    }
}