#inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: fit-content;
}
#inputsContainer > * {
    flex-wrap: wrap;
}
#inputsContainer *{
    width: unset;
}
#chartPage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}
.chartTitle{
    font-family: var(--bold-title-font);
}
@media only screen and (max-width: 1700px) {
    #inputsContainer {
        width: 800px;
        align-self: center;
    }
}
@media only screen and (max-width: 800px) {
    #inputsContainer {
        width: unset;
        align-self: unset;
    }
}