.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#leftPanel{
    min-width: 275px;
}
@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        flex-wrap: wrap;
    }
}

.tenders {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    .tenders {
        display: flex;
        flex-direction: column;
    }
}

.tenders > * {
    flex-grow: 1;
    min-width: 180px;
    gap: 20px;
}