.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-wrap: wrap;
    }
}

#leftPanel{
    min-width: 275px;
    max-width: 300px;
}

.tenders {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-self: flex-start;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    .tenders {
        display: flex;
        flex-direction: column;
    }
    #leftPanel{
        max-width: unset;
        width: 100%;
    }
}

.tenders > * {
    flex-grow: 1;
    min-width: 180px;
    gap: 20px;
}