.form {
    max-height: 70px;
    transition: max-height 0.3s ease;
}

.form> :nth-child(n+2) {
    display: none;
    transition: display 0.3s ease;
}

.form.expanded {
    max-height: 100%;
}

.form.expanded> :nth-child(n+2) {
    display: block;
}

.icon {
    transition: transform 0.3s ease;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.rotated {
    transform: rotate(180deg);
}