.icon {
    transition: transform 0.3s ease;
}

.toggler {
    margin-left: auto;
}

.rotated {
    transform: rotate(180deg);
}
.fileItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}